@model JabberBCIT.Models.CommentViewModel
@{
    ViewBag.Title = "CommentPartial";
}
<tr>
    <td valign="top" style="width:40px">
        <a href="Vote/@Model.comment.CommentID/1">
            <div class="vote">
                <span class="glyphicon glyphicon-chevron-up vote-icon"></span>
            </div>
        </a>
        <p class="vote-count">@Model.votes</p>
        <a href="Vote/@Model.comment.CommentID/-1">
            <div class="vote">
                <span class="glyphicon glyphicon-chevron-down vote-icon"></span>
            </div>
        </a>
    </td>
    <td class="media">
        <div class="media-body">
            <h4 class="title">
                @Model.comment.User.UserName
            </h4>
            <p>
                @Model.comment.Text
            </p>
        </div>
        <button type="button" class="btn pull-right" onclick="@("location.href='"+ @Model.comment.CommentID + "/Reply'")">Reply</button>
        
        <table>        
            @foreach (var childCommentID in Model.childCommentIDs)
            {
                Html.RenderAction("CommentPartial", new { id = childCommentID });
            }
        </table>
    </td>
</tr>