@using Microsoft.AspNet.Identity
@model JabberBCIT.Models.CommentViewModel

<tr>
    <td valign="top" style="width:40px">
        @if (Model.comment.Hidden == 0)
        {
            <a href="/Vote/Comment/@Model.comment.CommentID/1" class="voteButton">
                <div class="vote">
                    <span class="glyphicon glyphicon-chevron-up vote-icon"></span>
                </div>
            </a>
            <p class="vote-count" id="comment_votes_@Model.comment.CommentID">@Model.votes</p>
            <a href="/Vote/Comment/@Model.comment.CommentID/-1" class="voteButton">
                <div class="vote">
                    <span class="glyphicon glyphicon-chevron-down vote-icon"></span>
                </div>
            </a>
        }
    </td>
    <td>
        <div class="media-body">
            @if (Model.comment.Hidden == 0)
            {
                <h4 class="title">@Model.author</h4>
                <p>@Model.comment.Text</p>
                <button type="button" class="btn pull-left" onclick="@("location.href='" + @Model.comment.CommentID + "/Reply'")">Reply</button>
                if (User.Identity.GetUserName().Equals(Model.author))
                {
                    <button type="button" class="btn pull-left" onclick="@("location.href='" + @Model.comment.CommentID + "/Delete'")">Delete</button>
                }
            }else
            {
                <p>This comment has been deleted</p>
            }
        </div>
        <table>
            @foreach (var childComment in Model.childComments)
            {
                Html.RenderPartial("CommentPartial", childComment);
            }
        </table>
    </td>
</tr>