@model JabberBCIT.Models.CommentViewModel

<table id="partial-comment" class="table">
    <tr class="comment container-fluid">
        <td>
            <a href="/Vote/Comment/@Model.comment.CommentID/1" class="voteButton">
                <span class="glyphicon glyphicon-chevron-up vote-icon-up"></span>
            </a>
            <p class="vote-count" id="comment_votes_@Model.comment.CommentID">@Model.votes</p>
            <a href="/Vote/Comment/@Model.comment.CommentID/-1" class="voteButton">
                <span class="glyphicon glyphicon-chevron-down vote-icon-down"></span>
            </a>
        </td>
        <td>
            <div class="media">
                <h4 id="comment-title">@Model.comment.User.UserName</h4>
                <p id="comment-content">@Model.comment.Text</p>
                <button type="button" class="btn btn-reply pull-left" onclick="@("location.href='"+ @Model.comment.CommentID + "/Reply'")">Reply</button>
            </div>
            <table>
                @foreach(var childComment in Model.childComments) {
                    Html.RenderPartial("CommentPartial", childComment);
                }
            </table>
        </td>
    </tr>
</table>