@model JabberBCIT.Models.ForumPost

@{
    ViewBag.Title = "CreatePost";
}

@Styles.Render("~/Content/createForumPost.css")

<div class="container">
    <div class="row forum">
        <div class="col-md-offset-1 col-md-10">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div class="form-horizontal">
                    <h2>Submit a post</h2>
                    <hr />
                    <div class="form-group">
                        @Html.LabelFor(model => model.PostTitle, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.PostTitle, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.PostTitle, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Message, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextAreaFor(model => model.Message, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Message, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Post" class="btn btn-default submitBtn"/>
                            <button class="btn" onclick="location.href='@Url.Action("Index", "Forum")';return false;">Back to List</button>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
