@model List<JabberBCIT.Models.PostViewModel>
@{
    ViewBag.Title = "Forum";
}

<head>
    <!-- Bootstrap Core CSS -->
    @Styles.Render("~/Content/bootstrap.min.css")
    <!-- Custom CSS -->
    @Styles.Render("~/Content/forum.css")
    <!-- Janky voting code -->
    <script type="text/javascript">
            $(document).ready(function() {
                $(".voteButton").click(function (e) {
                    e.preventDefault();
                    $.ajax({
                        url:$(this).attr("href"),
                        success: function (result) {
                            document.getElementById(result.id).innerHTML = result.value;
                        }
                    });
                });
            });
    </script>
</head>
<body style="padding-top: 0px;">
    <div id="wrapper">
        @{Html.RenderAction("SidebarPartial"); }
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 id="header-forum">
                            <b>@ViewBag.ForumTitle</b>
                            <br>
                            <button type="button" class="btn btn-primary pull-right" onclick="@("location.href='" + Url.Action("CreatePost", "Forum") + "'")">Create Post</button>
                        </h1>
                    </div>
                </div>

                <!-- Posts -->
                <table id="partial-post" class="table">
                    <tbody>
                        @foreach (var post in Model)
                        {
                            @Html.Partial("PostPartial", post)
                        }
                    </tbody>
                </table>
                <!-- ./Posts -->
                <hr>
                <!-- Footer -->
                <footer>
                    <div class="row text-center">
                        <div class="col-lg-12">
                            <p>Copyright &copy; BCIT Jabber 2016</p>
                        </div>
                    </div>
                </footer>

            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /#page-wrapper -->
    </div>
    <!-- /#wrapper -->
</body>