@model JabberBCIT.Models.PostViewModel
@{
    ViewBag.Title = "PostPartial";
}
<tr>
    <td>
        <p class="vote-count" id="post_votes_@Model.post.PostID">@Model.votes</p>
    </td>
    <td>
        <a href="/Vote/Post/@Model.post.PostID/1" class="voteButton">
            <span class="glyphicon glyphicon-chevron-up vote-icon-up"></span>
        </a>
        <a href="/Vote/Post/@Model.post.PostID/-1" class="voteButton">
            <span class="glyphicon glyphicon-chevron-down vote-icon-down"></span>
        </a>
    </td>
    <td>
        <div class="media">
            <a href="@Model.post.PostID/" class="pull-left">
                <img src="@Model.post.User.ProfilePicture" class="media-photo" width="35" height="35">
            </a>
            <a href="@Model.post.PostID/">
                <div class="media-body">
                    <span class="pull-right media-meta">@Html.Display(@Model.post.PostTimestamp.ToShortDateString())</span>
                    <h4 class="title">
                        @Model.post.PostTitle
                    </h4>
                    <small>
                        @Model.post.User.UserName
                    </small>
                </div>
            </a>
        </div>
    </td>
</tr>