@model JabberBCIT.Models.PostViewModel
@{
    ViewBag.Title = "PostPartial";
}
<tr>
    <td>
        <p class="vote-count">@Model.votes</p>
    </td>
    <td>
        <a href="/Vote/Post/@Model.post.PostID/1" class="voteButton">
            <div class="vote">
                <span class="glyphicon glyphicon-chevron-up vote-icon"></span>
            </div>
        </a>
        <a href="/Vote/Post/@Model.post.PostID/-1" class="voteButton">
            <div class="vote">
                <span class="vote glyphicon glyphicon-chevron-down vote-icon"></span>
            </div>
        </a>
    </td>
    <td>
        <div class="media">
            <a href="#" class="pull-left">
                <img src="https://s3.amazonaws.com/uifaces/faces/twitter/fffabs/128.jpg" class="media-photo">
            </a>
            <a href="@Model.post.PostID/">
                <div class="media-body">
                    <span class="pull-right media-meta">@Html.Display(@Model.post.PostTimestamp.ToShortDateString())</span>
                    <h4 class="title">
                        @Model.post.PostTitle
                    </h4>
                    <small>
                        @Model.post.User.UserName
                    </small>
                </div>
            </a>
        </div>
    </td>
</tr>