@using JabberBCIT.Models
@using Microsoft.AspNet.Identity
@model PostViewModel
@{
    ViewBag.Title = "ViewThread";
}

<head>
    <!-- Bootstrap Core CSS -->
    <link href="/Content/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="/Content/forum.css" rel="stylesheet">
    <!-- Janky voting code -->
    <script type="text/javascript">
        $(document).ready(function () {
            $(".voteButton").click(function (e) {
                e.preventDefault();
                $.ajax({
                    url: $(this).attr("href"),
                    success: function (result) {
                        document.getElementById(result.id).innerHTML = result.value;
                    }
                });
            });
        });
    </script>
</head>
<body style="padding-top: 0px;">
    <div id="wrapper">
        <!-- Navigation -->
        <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
        @{Html.RenderAction("SidebarPartial"); }
        <!-- /.Sidebar Menu Item -->
        <!-- /.Navigation -->

        <div id="page-wrapper">

            <div class="container-fluid">
                <!-- Page Content -->
                <!-- Page Heading -->
                <table id="view-thread" class="table">
                    <tr>
                        <td>
                            <a href="/Vote/Post/@Model.post.PostID/1" class="voteButton">
                                <span class="glyphicon glyphicon-chevron-up vote-icon-up"></span>
                            </a>
                            <p class="vote-count" id="post_votes_@Model.post.PostID">@Model.votes</p>
                            <a href="/Vote/Post/@Model.post.PostID/-1" class="voteButton">
                                <span class="glyphicon glyphicon-chevron-down vote-icon-down"></span>
                            </a>
                        </td>
                        <td>
                            <h1 class="forum-header">
                                <b>@Model.post.PostTitle</b>
                                <br>
                                <span id="author">Author: @Model.author</span>
                            </h1>
                            <div id="comment">
                                <span id="message">@Model.post.Message</span>
                            </div>
                            <div>
                                <form action="Reply">
                                    <input type="submit" id="reply_a" @*class="btn btn-reply"*@ value="Reply" />
                                </form>
                                @if (User.Identity.GetUserName().Equals(Model.post.User.UserName)) {
                                    <a class="btn pull-left" id="delete_a" onclick="@("location.href+='/Delete'")">Delete</a>
                                }
                            </div>

                        </td>
                    </tr>
                </table>
                <!-- ./Page Heading -->
                <!-- Comments -->
                <table id="subcomments">
                    @foreach (var childComments in Model.childComments) {
                        Html.RenderPartial("CommentPartial", childComments);
                    }
                </table>
                <!-- ./Comments -->

                <hr>

                <!-- Footer -->
                <footer>
                    <div class="row text-center">
                        <div class="col-lg-12">
                            <p>Copyright &copy; BCIT Jabber 2016</p>
                        </div>
                    </div>
                </footer>

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->
</body>



















