@using JabberBCIT.Models
@model ViewThreadViewModel
@{
    ViewBag.Title = "ViewForumThread";
}

<head>
    <!-- Bootstrap Core CSS -->
    <link href="../../Content/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="../../Content/forum.css" rel="stylesheet">
</head>
<body style="padding-top: 0px;">
    <div id="wrapper">
        <!-- Navigation -->
        <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
        <div id="forum_sidebar">
            <ul class="nav navbar-nav side-nav">
                <li>
                    <a href="unknown.html">Topics</a>
                </li>
                <li>
                    <a href="unknown.html">Topics</a>
                </li>
                <li>
                    <a href="unknown.html">Topics</a>
                </li>
                <li>
            </ul>
        </div>
        <!-- /.Sidebar Menu Item -->
        <!-- /.Navigation -->

        <div id="page-wrapper">

            <div class="container-fluid">
                <!-- Page Content -->
                <!-- Page Heading -->
                <table class="table table-filter">
                    <tr>
                        <td></td>
                        <td>
                            <a href="#">
                                <div class="vote">
                                    <span class="glyphicon glyphicon-chevron-up vote-icon"></span>
                                </div>
                            </a>
                            @*<p class="vote-count">@Html.DisplayFor(m => m.Votes)</p>*@
                            <p class="vote-count">1</p>
                            <a href="#">
                                <div class="vote">
                                    <span class="glyphicon glyphicon-chevron-down vote-icon"></span>
                                </div>
                            </a>
                        </td>
                        <td>
                            <br>
                            <h1 class="forum-header">
                                <b>@Model.post.PostTitle</b>
                                <br>
                                <small>@Model.post.UserID</small>
                            </h1>
                            <p>@Model.post.Message</p>
                        </td>
                    </tr>
                </table>
                <!-- ./Page Heading -->
                <!-- Comments -->
                <table>
                    <tbody>
                        @{
                            List<Comment> child = new List<Comment>();
                            List<Comment> notChild = new List<Comment>();
                            foreach (var comment in Model.comments)
                            {
                                if (comment.ParentCommentID == null)
                                {
                                    child.Add(comment);
                                }
                                else
                                {
                                    notChild.Add(comment);
                                }
                            }
                            foreach (var comment in child)
                            {
                                JabberBCIT.Models.CommentAndChildrenViewModel goat = new JabberBCIT.Models.CommentAndChildrenViewModel();
                                goat.comment = comment;
                                goat.comments = notChild;
                                @Html.Partial("ForumCommentPartial", goat);
                            }
                        }
                    </tbody>
                </table>
                <!-- ./Comments -->
                <hr>

                <!-- Footer -->
                <footer>
                    <div class="row text-center">
                        <div class="col-lg-12">
                            <p>Copyright &copy; BCIT Jabber 2016</p>
                        </div>
                    </div>
                </footer>

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->
</body>



















