<!DOCTYPE html>
<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    
    
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Jabber</title>
   
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/login")
    @Styles.Render("~/Content/notification")
    @Styles.Render("~/Content/register.css")
    @Styles.Render("~/Content/forgetPassword.css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body class="body-content">
    <div class="navbar navbar-inverse navbar-fixed-top">
        
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Jabber", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                <div class="dropdown" style="display:none">
                   
                    <button class="btn btn-primary btn-circle" data-toggle="dropdown">
                        <span id="arrow" class="glyphicon glyphicon-chevron-down"></span>
                    </button>   
                    <ul class="dropdown-menu dropdown-menu-left">
                        <li>
                            <a href="#">Menu1</a>
                        </li>
                        <li>
                            <a href="#">Menu2</a>
                        </li>
                        <li>
                            <a href="#">Menu3</a>
                        </li>
                        <li>
                            <a href="#">Menu1</a>
                        </li>
                        <li>
                            <a href="#">Menu2</a>
                        </li>
                        <li>
                            <a href="#">Menu3</a>
                        </li>
                        <li>
                            <a href="#">Menu1</a>
                        </li>
                        <li>
                            <a href="#">Menu2</a>
                        </li>
                        <li>
                            <a href="#">Menu3</a>
                        </li>
                        <li>
                            <a href="#">Menu1</a>
                        </li>
                        <li>
                            <a href="#">Menu2</a>
                        </li>
                        <li>
                            <a href="#">Menu3</a>
                        </li>
                        <li>
                            <a href="#">Menu1</a>
                        </li>
                        <li>
                            <a href="#">Menu2</a>
                        </li>
                        <li>
                            <a href="#">Menu3</a>
                        </li>
                        <li>
                            <a href="#">Menu1</a>
                        </li>
                        <li>
                            <a href="#">Menu2</a>
                        </li>
                        <li>
                            <a href="#">Menu3</a>
                        </li>
                        <li>
                            <a href="#">Menu1</a>
                        </li>
                        <li>
                            <a href="#">Menu2</a>
                        </li>
                        <li>
                            <a href="#">Menu3</a>
                        </li>
                        <li>
                            <a href="#">Menu1</a>
                        </li>
                        <li>
                            <a href="#">Menu2</a>
                        </li>
                        <li>
                            <a href="#">Menu3</a>
                        </li>
                        <li>
                            <a href="#">Menu1</a>
                        </li>
                        <li>
                            <a href="#">Menu2</a>
                        </li>
                        <li>
                            <a href="#">Menu3</a>
                        <li>
                            <a href="#">Menu1</a>
                        </li>
                        <li>
                            <a href="#">Menu2</a>
                        </li>
                        <li>
                            <a href="#">Menu3</a>
                        </li>
                        <li>
                            <a href="#">Menu1</a>
                        </li>
                        <li>
                            <a href="#">Menu2</a>
                        </li>
                        <li>
                            <a href="#">Menu3</a>
                        <li>
                            <a href="#">Menu1</a>
                        </li>
                        <li>
                            <a href="#">Menu2</a>
                        </li>
                        <li>
                            <a href="#">Menu3</a>
                        </li>
                        <li>
                            <a href="#">Menu1</a>
                        </li>
                        <li>
                            <a href="#">Menu2</a>
                        </li>
                        <li>
                            <a href="#">Menu3</a>
                        </li>
                        <li>
                            <a href="#">Menu1</a>
                        </li>
                        <li>
                            <a href="#">Menu2</a>
                        </li>
                        <li>
                            <a href="#">Menu3</a>
                        </li>

                        </li>
                        </li>

                    </ul>
                </div>
             </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Forum", "Global", "Forum")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Chat", "Chat", "Chat")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Chat", "BasicChat", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial", new JabberBCIT.Models.LoginViewModel { })                
            </div>            
        </div>        
    </div>

    @RenderBody()

    <footer></footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")   
    @Scripts.Render("~/bundles/HomeGlobal")
    @Scripts.Render("~/Scripts/site.js")
    @RenderSection("scripts", required: false)
    @Scripts.Render("~/Scripts/comment.js")
</body>
</html>
