<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Jabber</title>
   
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/login")
    @Styles.Render("~/Content/notification")
        @Styles.Render("~/Content/register.css")
        @Styles.Render("~/Content/Comment.less")
    @Styles.Render("~/Content/forgetPassword.css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Scripts/login.js")
    @Scripts.Render("~/Scripts/site.js")
    @RenderSection("scripts", required: false)

</head>
<body class="body-content">
    <div class="navbar navbar-inverse navbar-fixed-top">

        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Jabber", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                <div class="dropdown" style="display:none">

                    <button class="btn btn-primary btn-circle" data-toggle="dropdown">
                        <span id="arrow" class="glyphicon glyphicon-chevron-down"></span>
                    </button>
                </div>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Forum", "Global", "Forum")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Chat", "Chat", "Chat")</li>
                </ul>
                @Html.Partial("_LoginPartial", new JabberBCIT.Models.LoginViewModel { })
            </div>
        </div>
    </div>

    @RenderBody()

    <footer></footer>
</body>
</html>
