@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li id="noti_Container" class="hidden-xs">
            <div id="noti_Counter"></div>   <!--SHOW NOTIFICATIONS COUNT.-->
            <!--A CIRCLE LIKE BUTTON TO DISPLAY NOTIFICATION DROPDOWN.-->
            <div id="noti_Button"></div>
            <!--THE NOTIFICAIONS DROPDOWN BOX.-->
            <div id="notifications">
                <h3 style="margin-left:10px">Notifications</h3>
                <div style="height:300px;margin-left:10px"></div>
            </div>
        </li>
        <li>
            @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", new { id = User.Identity.GetUserId() }, htmlAttributes: new { title = "Manage" })
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
        @Html.Partial("_LoginOverLay")
    </ul>
}
