@model JabberBCIT.Models.ProfileViewModel

@{
    ViewBag.Title = "Profile";
}

<div id="container" class="container">
    <h1>My Profile</h1>
    <hr />
    <div class="row">
        <div class="col-md-4 avatar">
            <img src="@Model.ProfilePicture" alt="Profile image" id="profile-picture" class="img-rounded" width="250" height="250"/>
            <div class="row">
                <div class="subBtn">
                    @Html.ActionLink("Edit Profile", "Edit", "Manage", null, new { @class = "btn btn-default" })
                    @Html.ActionLink("Reset Password", "ChangePassword", "Manage", null, new { @class = "btn btn-default" })
                </div>
            </div>
        </div>
        <div class="col-md-8 info">
            <table id="profile-info" class="table">
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Email)</th>
                    <th>@Html.DisplayFor(model => model.Email)</th>
                </tr>
                <tr> 
                    <th>@Html.DisplayNameFor(model => model.UserName)</th>
                    <th>@Html.DisplayFor(model => model.UserName)</th>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.JoinDate)</th>
                    <th>@Html.DisplayFor(model => model.JoinDate)</th>
                </tr>
            </table>
            <table id="profile-post" class="table">
                <tr>
                    <th>Date</th>
                    <th>Post</th>
                </tr>
                @foreach (var model in Model.posts)
                {
                    @Html.Partial("PostHistoryPartial", model);
                }
            </table>
        </div>
    </div>
</div>