@model JabberBCIT.Models.EditProfileViewModel
@{
    ViewBag.Title = "Edit Profile";
}

<div class="container">
    <h1>Edit Profile</h1>

    <p class="text-success">@ViewBag.StatusSuccess</p>
    <p class="text-danger">@ViewBag.StatusError</p>
    

    <hr />

    <div class="row">
        <div class="col-md-4 avatar">
            <img src="@Model.ProfilePicture" alt="Profile image" id="profile-picture" class="img-rounded" width="250" height="250"/>
            
            @*Html.ActionLink("UPLOAD", "EditImage", "Manage", null, new { @class = "update btn btn-default"})*@
        </div>
        <div class="col-md-8 infoContainer">
            @using (Html.BeginForm("Edit", "Manage", FormMethod.Post, new { encType = "multipart/form-data", name = "Upload", @class = "form-horizontal", role = "form" }))
            {
                <h3>Personal info</h3>
                <hr />
                @Html.AntiForgeryToken()
                <div class="form-horizontal">
                    <div class="form-group">
                        @Html.HiddenFor(model => model.ID)
                        @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-5">
                            @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.ProfilePicture, htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            <label class="btn btn-default">
                                Select a photo<input type="file" id="Avatar" name="upload" style="display: none;" />
                            </label>
                            <span id="fn"></span>&nbsp;&nbsp;
                            <span id="fs"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-3 col-md-9">
                            <input type="submit" id="profile-update" value="Update" class="btn btn-default" />
                        </div>
                    </div>
                </div>
            }
            <br /> 
        </div>
    </div>
    <br /> 
    <div>
        @Html.ActionLink("Back to profile", "Index", "Manage", new { id = Model.ID }, null)
    </div>
</div>

@Scripts.Render("~/Content/preview.js")