@model JabberBCIT.Models.ChatGroup

@{
    ViewBag.Title = "Chat";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/Content/Chat.css")

@Html.AntiForgeryToken()

<div id="wrapper">
	@using (Html.BeginForm("Chat", "Chat", FormMethod.Post, new { name = "Start", id="Start"}))
	{
		<div class="side_columns">
			<div class="chat_convos">
				@Html.Raw(ViewBag.Chats)
			</div>
		</div>
		<div id="chat" class="container">
			@Html.HiddenFor(model => model.ChatID, htmlAttributes: new { @id = "chatID" })
			<ul id="discussion">@Html.Raw(ViewBag.Messages)</ul>
			<input type="text" id="message" placeholder="Enter message here..." />
			<input type="button" id="sendmessage" class="btn btn-default" value="Send" />
			<input type="hidden" id="displayname" />
		</div>
		<div class="side_columns">
			<div class="chat_members">
				<ul class="nav navbar-nav side-nav">
					<li>
						@Html.Raw(ViewBag.Members)
					</li>
				</ul>
			</div>
		</div>
	}
</div>
@section scripts {
    <!--Script references. -->
    <!--The jQuery library is required and is referenced by default in _Layout.cshtml. -->
    <!--Reference the SignalR library. -->
    <script src="~/Scripts/jquery.signalR-2.2.1.min.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.12.4.js"></script>
    <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script type="text/javascript">
        $(function () {
            $(document).on('click', '#newChat', function (e) {
                if (!$('#memberSearch').is(":visible")) {
                    $('#addName').show();
                    $('#memberSearch').show();
                    $('#addMember').show();
                    $('#memberList').show();
                    $('#createConversation').show();
                    $('#chatID').val('-1');
                    $('#allMessages').hide();
                    $('#allMembers').hide();
                    $('#messageBox').hide();
                }
            });
            $(document).on('click', '.chats', function (e) {
                $('#addName').hide();
                $('#memberSearch').hide();
                $('#addMember').hide();
                $('#memberList').hide();
                $('#createConversation').hide();
                $('#allMessages').show();
                $('#allMembers').show();
                $('#messageBox').show();
                $('#chatID').val(this.id);
                $('#Start').submit();
            });
            $(document).ready(function () {
                $('#memberSearch').autocomplete({
                    source: `@Url.Action("Autocomplete")`
                });
            });
            $(document).on('click', '#addMember', function (e) {
                $('#memberList').html($('#memberList').html() + $('#memberSearch').val() + "<br/>")
                $('#membersHidden').val($('#membersHidden').val() + $('#memberSearch').val() + " | ")
                $('#memberSearch').val('');
            });
            $('#messageBox').bind('keyup', function (e) {
                if (e.keyCode === 13) { // 13 is enter key
                    $('#newMessage').val($('#messageBox').val());
                    $('#Start').submit();
                    $('#newMessage').val('');
                }
            });
		});
         function keypressHandler(e) {
            if (e.which == 13) { // user presses enter (13 is ascii for CR (enter))
                e.preventDefault(); //stops default action: submitting form
                $(this).blur();
                $('#sendmessage').focus().click();//give your submit an ID

                //$('#discussion').scrollTop($('#discussion')[0].scrollHeight);
                $('#discussion').animate({ scrollTop: $('#discussion').prop("scrollHeight") }, 10);
            }
        }
        $('#message').keypress(keypressHandler);
		 function mouseClickSend() {
            $(this).blur();
            //  $('#sendmessage').focus().click();//give your submit an ID
            $('#discussion').animate({ scrollTop: $('#discussion').prop("scrollHeight") }, 10);
        }
    </script>

}
