@model JabberBCIT.Models.ChatGroup

@{
    ViewBag.Title = "Chat";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/Content/Chat.css")

@Html.AntiForgeryToken()

<div class="container2">
    @using (Html.BeginForm("Chat", "Chat", FormMethod.Post, new { name = "Start", id="Start"}))
    {
        <div id="allChats">
            <div id="newChat"><br /><h5>Create New Chat</h5><br /></div>
            @Html.Raw(ViewBag.Chats)
        </div>
        <div id="center">
            <div>
                @Html.TextBoxFor(model => model.GroupName, htmlAttributes: new { @id = "addName", @placeholder = "Group Name" })
                <input type="text" name="memberSearch" id="memberSearch" placeholder="UserName" />
                <input type="button" value="Add" id="addMember" />
                <label id="memberList" />
                @Html.HiddenFor(model => model.Members, htmlAttributes: new { @id = "membersHidden" })
                <input type="submit" value="Done" id="createConversation" />
            </div>
            <div id="allMessages">
                @Html.Raw(ViewBag.Messages)
            </div>
            <input type="text" id="messageBox"/>
            @Html.HiddenFor(model => model.NewMessage, htmlAttributes: new { @id = "newMessage" })
        </div>
        @Html.HiddenFor(model => model.ChatID, htmlAttributes: new { @id = "chatID" })
        <div id="allMembers">
            @Html.Raw(ViewBag.Members)
        </div>
    }

</div>
@section scripts {
    <!--Script references. -->
    <!--The jQuery library is required and is referenced by default in _Layout.cshtml. -->
    <!--Reference the SignalR library. -->
    <script src="~/Scripts/jquery.signalR-2.2.1.min.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.12.4.js"></script>
    <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script type="text/javascript">
        $(function () {
            $(document).on('click', '#newChat', function (e) {
                if (!$('#memberSearch').is(":visible")) {
                    $('#addName').show();
                    $('#memberSearch').show();
                    $('#addMember').show();
                    $('#memberList').show();
                    $('#createConversation').show();
                    $('#chatID').val('-1');
                    $('#allMessages').hide();
                    $('#allMembers').hide();
                    $('#messageBox').hide();
                }
            });
            $(document).on('click', '.chats', function (e) {
                $('#addName').hide();
                $('#memberSearch').hide();
                $('#addMember').hide();
                $('#memberList').hide();
                $('#createConversation').hide();
                $('#allMessages').show();
                $('#allMembers').show();
                $('#messageBox').show();
                $('#chatID').val(this.id);
                $('#Start').submit();
            });
            $(document).ready(function () {
                $('#memberSearch').autocomplete({
                    source: `@Url.Action("Autocomplete")`
                });
            });
            $(document).on('click', '#addMember', function (e) {
                $('#memberList').html($('#memberList').html() + $('#memberSearch').val() + "<br/>")
                $('#membersHidden').val($('#membersHidden').val() + $('#memberSearch').val() + " | ")
                $('#memberSearch').val('');
            });
            $('#messageBox').bind('keyup', function (e) {
                if (e.keyCode === 13) { // 13 is enter key
                    $('#newMessage').val($('#messageBox').val());
                    $('#Start').submit();
                    $('#newMessage').val('');
                }

            });
        });
    </script>
}
